{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "installedESLint": true,
    "rules": {
      "no-underscore-dangle": 0,
      "no-param-reassign": 0,
      "func-names": 0,
      "new-cap": 0,
      "max-len": ["error", 140],
      "comma-dangle": 0,
      "padded-blocks": 0,
      "no-nested-ternary": "off"
    },
    "settings": {
      "import/resolver": {
        "babel-module": {}
      }
    }
  }